*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: gray;
}

form{
    background-color: aquamarine;
    margin:20px auto;
    border-radius: 5px;
    width: 50%;
    padding: 30px 10px;
    font-weight: bold;
    font-size: 19px;
}
form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0 ;
}
form button[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
h3{
    text-align: center;
    font-weight: 600;
}
.task{
    background-color: rgb(11, 114, 80);
    margin:20px auto;
    border-radius: 5px;
    width: 50%;
    padding: 30px 10px;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-top: 50px;
}
.task .title{
    background-color: rgb(63, 10, 176);
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.task .desc{
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.controls{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    font-size: 25px;
}
.controls .delete:active{
   color: red;
}